.btn-grande{
	width: 200px;
	height: 100px;
	font-size: 18pt;
	background-image: linear-gradient(to bottom, #ffdd1c, #F39C12);
	color: #0B2161;
	text-align: center;
}
.btn-grande:hover{
	color:#0B2161;
}

.btn-grande:visited{
	color:#0B2161;
}

.btn-grande:focus {
	color:#0B2161;
}

.btn-footer{
	width: 200px;
	height: 50px;
	font-size: 16pt;
	border-color:rgba(72, 70, 76, 0.1);
	background-color: rgba(72, 70, 76, .2);
	color:#afafaf;
	text-align: center;
}



.btn-regresar{
	margin-top: -10px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-image: linear-gradient(to bottom, #ffdd1c, #F39C12);
	border:2px;
	color:#0B2161;
	font-size: 28px;
}

#botonesIzquierda > .btn-grande{
	margin-left: 30px;
}

.fondo{
	background-image: url("../images/fondo.png");
}

.header{
	height: 80px;
	background-color: rgba(0, 0, 0, 0.3);
}

.infoRoster{
	color: #F39C12;
}

.tablaInfoRoster{
	border-collapse: separate;
	border-spacing: 10px;
}

.tablaInfoRoster td {
	font-size: 8pt;
}

body{
	overflow: hidden;
}


* {
	margin: 0;
}
html, body {
	height: 100%;
}
#principal {
	min-height: 80%;
	margin: 0 auto -80px; /*the bottom margin is the negative value of the footer's height*/
}


.footer{
	background-color: rgba(0, 0, 0, 0.2);
	height: 80px;
}

.flechaIzq{
	font-size: 30pt;
	margin-left: -40px;
	color: #afafaf;
}

.flechaDer{
	font-size: 30pt;
	margin-left: 60px;
	color: #afafaf;
}

.flechaIzqHistoria{
	font-size: 30pt;
	margin-left: -40px;
	color: #afafaf;
	margin-top: 170px;
}

.flechaDerHistoria{
	font-size: 30pt;
	margin-left: 60px;
	color: #afafaf;
	margin-top: 170px;
}



.titulo{
	font-size: 22pt;
	text-shadow: 0px 0px 15px #fff;
}

.mesCalendario{
	font-size: 18pt;
	text-align: center;
	text-shadow: 0px 0px 15px #fff;
	background-color: rgba(129, 131, 131, 0.2);
}

.diaSemana > th{
	text-align: center;

}

.diasCalendario > tr > td{
	font-size: 10pt;
	height: 100px;
	width: 100px;
}

.diaNo{
	color:#555;
}

table > thead > .diaSemana > th {
	border-bottom-width: 4px;
	border-bottom-color: #F39C12;
}

table > .diasCalendario > tr > .diaPartido {
	border-left-width: 3px;
	border-left-color: #F39C12
}

.textoImagen{
	position: absolute;
	top:435px;
	left: 236px;
	width: 472px;
	height: 70px;
	background: rgba(0, 0, 0, 0.5);

}

.galeria{
	position: relative;
}

.estadisticas > thead > tr > th{
	text-align: center;
	font-size: 18pt;
	width: 65px;
	height: 60px;
}

.estadisticas > tbody > tr > td{
	text-align: center;
	font-size: 17pt;
	width: 65px;
	height: 80px;
}

.fechaPartido{
	font-size: 18pt;
}


.vs{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 16pt;
	font-weight: bold;
}

.infoCompraBoleto{
	margin-top: 0px;
	height: 672px;
}

.btn-boleto{
	background-image: linear-gradient(to bottom, #ffdd1c, #F39C12);
	color: #0B2161;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
}

.btn-mediano{
	width: 150px;
	height: 80px;
	font-size: 18pt;
	background-image: linear-gradient(to bottom, #ffdd1c, #F39C12);
	color: #0B2161;
	text-align: center;
}

.btn-grande:hover{
	color:#0B2161;
}

.btn-grande:visited{
	color:#0B2161;
}

.btn-grande:focus {
	color:#0B2161;
}

.boleto{
	font-weight: 900;
	color: black;
	width: 400px;
	height: 700px;
	background-image: url(../images/boleto.png);
	text-align: left;
}

.infoBoleto{
	margin-left: 35px;
	font-size: 13pt;
}

.posiciones > thead > tr {
	background-color: #707070;
}

.posiciones > thead> tr > th{
	text-align: center;
	font-size: 14pt;
}

.posiciones > tbody > tr > td {
	text-align: center;
}

